[submodule "src/lib/buckets"]
	path = src/lib/buckets
	url = git://github.com/mauriciosantos/buckets.git
[submodule "src/lib/qunit"]
	path = src/lib/qunit
	url = git://github.com/jquery/qunit.git
[submodule "src/lib/jdataview"]
	path = src/lib/jdataview
	url = git://github.com/vjeux/jDataView.git
